/*
* @Author: Thiago
* @Date:   2020-07-22 18:24:01
* @Last Modified by:   Thiago
* @Last Modified time: 2020-07-25 01:48:11
*/
.container-row .row+.row {
	margin-top: 1rem;
}

.container-row .row:first-child {
	margin-top: 0;
}

.panel-empty {
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 480px;
    height: calc(100vh - 420px);
}

.panel-empty .icon {
	display: block;
	font-size: 84px;
	color: #e0e0e0;
	text-align: center;
	margin-bottom: 10px;
}

.panel-empty .panel-empty-text {
	display: block;
	color: #acacac;
	text-align: center;
}

.card .card-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.card .card-list ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	list-style: disc;
}

.card .card-list li+li {
	margin-top: 1rem;
}

.card .card-list li:first-child {
	margin-top: 0px;
}

.btn,
.btn .btn-flex {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn .btn-text {
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
}

.btn .icon {
	font-size: 16px;
}

#removeItem .btn-text {
	display: none;
}

#removeItem {
	margin-top: 0px;
}

@media screen and (min-width:240px) and (max-width:575px) {
	#removeItem .btn-text {
		display: inline-block;
	}

	#removeItem {
		margin-top: 1.28rem;
	}
}